@{
    ViewData["Title"] = "Сброс пароля";
    Layout = "_Layout";
}

<h2>Сброс пароля</h2>
<form asp-action="ResetPassword" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Token" value="@ViewBag.Token" />
    <div class="mb-3">
        <label>Новый пароль</label>
        <input type="password" name="Password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Сбросить пароль</button>
</form>